@model WebStore.ViewModels.Identity.LoginOrRegisterViewModel
@{
    ViewData["Title"] = "Вход/регистрация | E-Shopper";
}

<div class="container">
    <h2>Нет доступа</h2>
    <a asp-action="Index" asp-controller="Home"><i class="fa fa-backward"></i>На главную</a>
</div>
