@model WebStore.ViewModels.Identity.LoginOrRegisterViewModel
@{
    ViewData["Title"] = "Вход/регистрация | E-Shopper";
}

<div class="container">
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Вход в аккаунт</h2>
                        <form id="login_form" asp-action="Login" asp-antiforgery="true" method="post">

                            <input asp-for="LoginViewModel.Name" placeholder="Логин" class="_l_inp _name_inp" />
                            <span id="login_name_err" asp-validation-for="LoginViewModel.Name"></span>

                            <input asp-for="LoginViewModel.Password" placeholder="Пароль" class="_l_inp" />
                            <span asp-validation-for="LoginViewModel.Password"></span>

                            <span>
                                <input asp-for="LoginViewModel.IsRememberMe" class="checkbox _l_inp">
                                Запомнить меня
                            </span>
                            <input asp-for="ReturnUrl" />
                            <button type="submit" class="btn btn-default">Вход</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">ИЛИ</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>Регистрация нового пользователя</h2>
                        <form id="register_form" asp-action="Register" asp-antiforgery="true" method="post">
                            <input asp-for="RegisterViewModel.Name" placeholder="Логин" class="_r_inp _name_inp" />
                            <span id="register_name_err" asp-validation-for="RegisterViewModel.Name"></span>

                            <input asp-for="RegisterViewModel.Password" placeholder="Пароль" class="_r_inp" id="pass_box"/>
                            <span id="pass_err" asp-validation-for="RegisterViewModel.Password"></span>

                            <input asp-for="RegisterViewModel.SamePassword" placeholder="Подтверждение пароля" class="_r_inp" id="conf_pass_box"/>
                            <span id="conf_pass_err" asp-validation-for="RegisterViewModel.SamePassword"></span>

                            <input asp-for="ReturnUrl" />

                            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
            <div style="margin: 15px" class="row" id="valid_summary">

            </div>
        </div>
    </section><!--/form-->
</div>

@section LocalScripts
{
    <script src="~/js/LoginOrRegister.js"></script>
}

