<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/Admin/img/logo.png" /> Админка
            </a>
        </div>

        <span class="logout-spn">
            <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#fff; font-size: 13pt">На страницу магазина</a>
        </span>

    </div>
</div>
<!-- /. NAV TOP  -->